<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Inter', sans-serif;
    }
  </style>
</head>

<body>
  <div class="navbar ml-28 mt-28  ">
    <div class="bg-[#D9D9D9] w-72 h-16 ml-5 pt-2 rounded-md cursor-pointer">
      <div class="flex ml-3">
        <img src="{{ asset('img/GambarFakultas.png') }}">
        <h1 class="justify-center items-center text-center my-auto ml-5 text-xl">All Faculties</h1>
      </div>
    </div>
    <div class="bg-[#D9D9D9] w-72 h-16 ml-5 pt-2 rounded-md mt-5 cursor-pointer">
      <div class="flex ml-3">
        <img class="w-10 ml-2" src="{{ asset('img/GambarDepartment.png') }}">
        <h1 class="justify-center items-center text-center my-auto ml-5 text-xl">All Departemens</h1>
      </div>
    </div>
    <div class="bg-[#D9D9D9] w-72 h-16 ml-5 pt-2 rounded-md mt-5 cursor-pointer">
      <div class="flex ml-3">
        <img src="{{ asset('img/GambarFakultas.png') }}">
        <h1 class="justify-center items-center text-center my-auto ml-5 text-xl">All Study Program</h1>
      </div>
    </div>
    <div>
      <div class="mt-5">
        <h1 class="text-xl pl-5">Academic Calender</h1>
      </div>
    </div>

  </div>

</body>

</html>